@page "/ordersgridmodelview"
@inherits ComponentViewBase<OrdersGridModelViewModel>
@namespace OneStreamWebMvvm
@using OneStreamWebUI.Mvvm.Toolkit
@using System.Collections.ObjectModel;
@using System.ComponentModel;
@using Syncfusion.Blazor.Grids
@using Syncfusion.Blazor.Buttons


@if (Bind(x => x.ViewOrders) != null)
{
<div style="margin: 20px 0;"><span>Orders Count: </span>&nbsp; @this.BindingContext.ViewOrders.Count</div>
<div style="margin: 20px 0;"><span>Selected Order: @this.BindingContext?.SelectedModelOrder?.CustomerName</span>&nbsp; </div>
<div style="margin: 20px 0;"><span>Order Index: @this.BindingContext?.ViewOrders.IndexOf(this.BindingContext?.SelectedModelOrder!)</span>&nbsp; </div>

<div style="display: inline-block; margin-right: 15px;"><SfButton ID="add" @onclick="@BindingContext.AddRecord">Add Data</SfButton></div>
<div style="display: inline-block; margin-right: 15px;"><SfButton ID="del" @onclick="@BindingContext.DeleteRecord">Delete Data</SfButton></div>
<div style="display: inline-block; margin-right: 15px;"><SfButton ID="update" @onclick="@BindingContext.UpdateRecord">Update Data</SfButton></div>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row mx-5 px-5">
			<SfGrid DataSource="@Bind(x => x.ViewOrders)" AllowPaging="false">
                <GridColumns>
                    <GridColumn Field=@nameof(Order.OrderID) Uid="@Guid.NewGuid().ToString()" HeaderText="Order ID" IsPrimaryKey="true" TextAlign="@TextAlign.Right" HeaderTextAlign="@TextAlign.Center" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer ID" Width="150" TextAlign="@TextAlign.Right" HeaderTextAlign="@TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(Order.CustomerName) HeaderText="Customer Name" Width="140" TextAlign="@TextAlign.Right" HeaderTextAlign="@TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(Order.OrderDate) HeaderText="Order Date" EditType="EditType.DatePickerEdit" Format="d" TextAlign="TextAlign.Right" HeaderTextAlign="@TextAlign.Center" Type="ColumnType.Date" Width="160"></GridColumn>
                </GridColumns>
            </SfGrid>
		</div>
	</div>
</div>
}