@page "/shoppingcartview"
@inherits ComponentViewBase<ShoppingCartViewModel>
@namespace OneStreamWebMvvm
@using OneStreamWebUI.Mvvm.Toolkit

@if (Bind(x => x.CartItems) == null)
{
	<p><em>Loading...</em></p>
	<SpinnerComponent @ref="DataContext.SpinnerRef"></SpinnerComponent>
}
else
{
	<div class="content px-4">
		<h1>Shopping Cart</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="grid-mvc">
					<div class="grid-wrap">
						<div class="row">
							<div class="table-wrap">
								<div class="grid-table-wrap">
									<table class="table grid-table striped">
										<thead>
											<tr>
												<th class="grid-header" style="width: 40px;">Cart ID</th>
												<th class="grid-header" style="width: 40px;">Product ID</th>
												<th class="grid-header" style="width: 130px;">Product Name</th>
												<th class="grid-header" style="width: 40px;">Quantiy</th>
												<th class="grid-header" style="width: 80px;">Order Date</th>
												<th class="grid-header" style="width: 70px;">Unit Price</th>
											@*	<th class="grid-header" style="width: 100px;">Item Total</th>*@
											</tr>
										</thead>
										<tbody>
											@foreach (var cartItemViewModel in Bind(x => x.CartItems)!)
											{
												<tr class="grid-row">
													<td class="grid-cell" style="width: 40px;">@cartItemViewModel.CartID</td>
													<td class="grid-cell" style="width: 40px;">@cartItemViewModel.ProductID</td>
													<td class="grid-cell" style="width: 130px;">@cartItemViewModel.Name</td>
													<td class="grid-cell" style="width: 40px;">@cartItemViewModel.Quantity</td>
													<td class="grid-cell" style="width: 80px;">@cartItemViewModel.OrderDate.ToShortDateString()</td>
													<td class="grid-cell" style="width: 70px;">@string.Format("{0:C}", @cartItemViewModel.Price)</td>
													@*<td class="grid-cell" style="width: 100px;">@cartItemViewModel.Total</td>*@
												</tr>
											}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
